<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li></li>
            </ul>
        </nav>
        <p class="copyright pull-right">&copy;{{ 'now' | date('Y') }} Courier Calc. A smoother journey <i class="fa fa-car"></i></p>
    </div>
</footer>