<div class="sidebar" data-color="red" data-image="{{ asset('assets/img/sidebar-road.jpg') }}">
    {#change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple#}
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="{{ asset('assets/img/logo.png') }}" class="img-responsive">
        </div>
        <ul class="nav">
            <li>
                <a href="{{ url('dashboard') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{{ url('quote_new') }}">
                    <i class="pe-7s-calculator"></i>
                    <p>Quote</p>
                </a>
            </li>
        </ul>
    </div>
</div>